body {
    background-image: url("assets/background.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#main-header {
    color: white;
    position: top;
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 115px;
    text-align: center;
    letter-spacing: 0.27em;
    text-shadow: 0px 0px 50px rgba(246, 250, 251, 0.911);
}


.selectmode{
    display: flex;
    justify-content: center;
}
#enc:hover {
    box-shadow: 0px 0px 30px 0.5px #1DCDE6;}

#enc {
    transition: all 0.2s ease-in-out;
    justify-content: center;
    font-family: 'DM Sans';
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 27px;
    line-height: 35px;
    letter-spacing: 0.02em;
    width: 284px;
    height: 57px;
    background: #03C6D2;
    box-shadow: 0px 0px 50px 0.5px rgba(29, 205, 230, 0.5);
    border-radius: 10px;
    border: none;
}

.container {
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cont {
    box-sizing: border-box;
    color: white;
    background: #020617;
    border: 1px solid #00C0C4;
    border-radius: 10px;
    font-size: 26px;
    margin: 40px;
}

.font {
    color: white;
    box-sizing: border-box;
    background: #020617;
    border: 1px solid #00C0C4;
    border-radius: 10px;
    font-size: 26px;
    margin: 40px;
}

@media(min-width:1024px) {
    .container {        
        display: flex;
        justify-content: center;
        padding: 50px;
    }

    .cont {
        box-sizing: border-box;
        color: white;
        background: #020617;
        border: 1px solid #00C0C4;
        border-radius: 10px;
        font-size: 26px;
        margin: 30px;
    }

    .font {
        color: white;
        box-sizing: border-box;
        background: #020617;
        border: 1px solid #00C0C4;
        border-radius: 10px;
        font-size: 26px;
        margin: 30px;
    }}


.encbutton{
    display: flex;      
    justify-content: center;
}

#CIPHER:hover {
    box-shadow: 0px 0px 30px 0.5px #1DCDE6;
    border-radius: 50px;   }

#CIPHER {
    transition: all 0.2s ease-in-out;
    background: #03C6D2;
    border: none;
    border-radius: 50px;
    width: 250px;
    height: 67px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #020617;
}


#BUTT {
    position: absolute;
    width: 147px;
    height: 47px;
    left: 790px;
    top: 927px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;

    letter-spacing: 0.04em;
    color: #020617;
}

.opt {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.04em;
    color: rgba(251, 251, 251, 0.93);
    box-sizing: border-box;
    background: #023335;
}
